<html lang="en">

<head>
    <title>Detail</title>
    <link rel="stylesheet" href="/assets/style.css">
    <%- include ('../components/head') %>
</head>

<body>
    <%- include ('../components/navbar') %>
        <a href="/batik">Kembali</a>

        <h1>Detail</h1>

        <ul>
            <li>Jenis Batik: <strong>
                    <%= batik.nama %>
                </strong> </li>
            <li>Harga: <strong>
                    <%= batik.harga %>
                </strong> </li>
        </ul>

        <%- include ('../components/footer') %>
</body>

</html>
